@import "tailwindcss";


.menNewParent, .menClothingParent, .menTrendingParent {
    position: relative;
}



.menNew, .menClothing, .menTrending {
    position: absolute;
    top: 100%; /* Aligns the dropdown box right below the parent */
    left: -60px; /* Aligns the box with the parent link */
    display: none; /* Initially hidden */
    width: 93vw; /* Adjust as needed */
    height: 500px;
    background-color: white;
    z-index: 10; /* Ensures it appears on top of other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better appearance */
}

.menClothing{
    left: -155px;
}

.menTrending{
    left: -260px;
}

.menNewParent:hover .menNew {
    display: block; /* Show the dropdown on hover */
}
.menClothingParent:hover .menClothing {
    display: block; /* Show the dropdown on hover */
}

.menTrendingParent:hover .menTrending{
    display: block;
}