@import "tailwindcss";


.menNewParent, .menClothingParent, 
.menTrendingParent,.menDressesParent,
.menShoesParent,.menAccessoriesParent,
.menBrandsParent,.menActivewearParent,
.menGrommingParent
{
    position: relative;
}



.menNew, .menClothing, .menTrending, 
.menDresses,.menShoes,
.menAccessories,.menBrands,
.menActivewear,.menGromming{
    position: absolute;
    top: 100%; /* Aligns the dropdown box right below the parent */
    left: -60px; /* Aligns the box with the parent link */
    display: none; /* Initially hidden */
    width: 93vw; /* Adjust as needed */
    height: 500px;
    background-color: white;
    z-index: 10; /* Ensures it appears on top of other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better appearance */
}

.menClothing{
    left: -155px;
}

.menTrending{
    left: -260px;
}
.menDresses{
    left: -366px;
}
.menShoes{
    left: -456px;
}
.menAccessories{
    left: -566px;
}
.menBrands{
    left: -696px;
}
.menActivewear{
    left: -796px;
}
.menGromming{
    left: -896px;
}
.menNewParent:hover .menNew {
    display: block; /* Show the dropdown on hover */
}
.menClothingParent:hover .menClothing {
    display: block; /* Show the dropdown on hover */
}

.menTrendingParent:hover .menTrending{
    display: block;
}
.menDressesParent:hover .menDresses{
    display: block;
}
.menShoesParent:hover .menShoes{
    display: block;
}
.menAccessoriesParent:hover .menAccessories{
    display: block;
}
.menBrandsParent:hover .menBrands{
    display: block;
}
.menActivewearParent:hover .menActivewear{
    display: block;
}
.menGrommingParent:hover .menGromming{
    display: block;
}